

@media (orientation: portrait) {
  


  .container {
    left: 20vw;
    top: 37vh;  
  }

  .swiper {
        width: 60vw;
        left:  0vw;
        height: auto;
      }


.container0 {
  position: absolute;
  top:  5vh;
}

ul a {
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 18px;
    text-decoration:none;
    width: 100%;
    position: relative;
}

.container-logo {
  top:  15vh;
  border: none;
  width: 100vw;
  height: 30vw;
  padding: 0;
}

.swiperLogo {
  position: relative;
  width: 100%;
}

.swiper-slide-logo {
  width: 30vw;
  border: 1px solid white;
  height: 30vw;

}
.js-angle-slider__list {
  top:  0;
}

.js-angle-slider__body {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw  ;
}

.logo {
  top: 3vh;
  left: 2vw;
}

.text {
  display: none;
}

.text1 {
    position: absolute;
    color: white;
    text-align: center;
    top: 15%;
    display: flex;
}

.img-2 {
  border: 2px solid white;
}



.welcome-a {
  display: none;
}

.welcome-b {
  display: none;
}


.nav-desktop {
  display: none;
}

.logo-nav {
  display: flex;
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: 0%;
}

.text-nav {
  display: flex;
  position: absolute;
  color: white;
  bottom: 3%;
  height: auto;
  font-family: candara;
  text-align: center;
}

.lightbox-mobile {
  z-index: 19;
  background: rgba(0, 0, 0, 0.5);
}

.lightbox {
  background: rgba(0, 0, 0, 0.8);
}

.ul-nav-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.icon-nav {
  width: 25vw;
  position: absolute;
  height: 25vw;
  right: -4vw;
  z-index: 19;
  top: 3vh;
  right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition-duration: 0.5s;
}

.icon-nav:hover {
  transform: rotateZ(90deg);
}

.nav-icon {
  width: 50%;
  height: 50%;
}

.c1, .c2, .c3 {
  position: relative;
  width: 100%;
  height: 10%;
  background: white;
}

.c1 {
  top:  0%;
}

.c2 {
  top:  30%;
}


.c3 {
  top:  60%;
}

.nav-mobile {
  width: 100vw;
  height: 80vh;
  position: absolute;
  box-shadow: 10vw 0 30px rgba(100, 0, 140, 0.4);
  border-top-left-radius: 140vw;
  border-top-right-radius: 140vw;
  top: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 21 ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition-duration: 0.4s;
}

.welcome2 {
  display: inline;
  color: white;
  position: absolute;
}

.img-feeds {
  
}

.swiper-slide-fh {
  width: 40vw;
  height: auto;
  background: red;
}

.img-crea {
    height: 60vw;
     border: 3px solid white;
     border-radius: 20px;
    width: 60vw;
    margin-top: 60%;
}

.btn-design {
  bottom: 2vh;
  padding: 13px;
  z-index: 10;
}

.btn-close-popup {
  position: absolute;
  box-sizing: border-box;
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 13vh;
  right: 5vw;
}

}